<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <span class="avatar"><%= gravatar_for @user %></span>
      <span class="info_box">
        <h1><%= @user.name %></h1>
        <h2>
          <p>Email: <%= @user.email %><br/>
          Created at: <%= @user.created_at %><br/>
          Last update at: <%= @user.updated_at %></p>
        </h2>
      </span>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<%= debug(params) if Rails.env.development? %>

