<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= post_timestamp(yield(:micropost.created_at)) %>
  </span>
</li>

